<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OntoApps @ Stanford</title>    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Maulik R. Kamdar">
    <meta name="keywords" content="ontologies, logs, engineering, biomedical, classes, term, reuse, overlap, visualization, graph, search" />
    <script src="../static/js/libraries/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="../static/js/libraries/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/libraries/d3.v3.min.js"></script>
    <script type="text/javascript" src="../static/js/libraries/kinetic.min.js"></script>
    <script> 
      $(function(){
        jQuery("#headercontent").load("/header"); 
      });
    </script>
  </head>
   
  <body>
   
    <div class="container-fluid">
      <div id = "headercontent"></div>
   
      <div class="header subheader">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="/ontoreuse">Check Similar Terms</a></li>
            <li><a href="/ontoreuse/reuseViz">Reuse Dependencies Visualization</a></li>
            <li><a href="/ontoreuse/overlapViz">Overlap Visualization</a></li>
            <li><a href="/ontoreuse/bplogs">BioPortal Import Plugin Log Analysis Visualization</a></li>
            <li><a href="/ontoreuse/data">Data Files</a></li>
            <li><a href="/ontoreuse/about">About</a></li>
          </ul>
        </nav>
        <h4 class="text-muted">Ontology Term Overlap and Reuse</h3>
      </div>
      <div class="row-fluid">
            <div class="span12" align="center"><h3>Reuse Dependencies Visualization</h3><hr></div>
        </div>
      <div class="row-fluid">
      <div class="span12 sigmaViz-parent" id="sigmaViz-parent">
        <div class="netC" align="center"><a href="javascript:location.reload()"><img src="../../static/img/refresh.png" width="25px" height="25px" title="Visualize entire graph"></a>
          &nbsp;&nbsp;||&nbsp;&nbsp;<strong>Usage :</strong> Hover & Scroll &#8594; Zoom.</div>
        <div id="sigmaViz" class="sigmaViz"></div>
      </div>
      </div>
      <footer class="footer">
          <p>&copy; <a href="http://www.stanford.edu/~maulikrk" target="_blank">Maulik R. Kamdar</a>, 2015</p>
        </footer>
    </div>
    <script type="text/javascript" src="../static/js/libraries/sigma.min.js"></script>
    <script type="text/javascript" src="../static/js/libraries/sigma.forceatlas2.js"></script>
    <script type="text/javascript" src="../static/js/sigmaforce-reuse.js"></script>
  </body>
</html>